@import "tailwindcss";

@theme {
  --animate-wave: wave 3s linear infinite;

  @keyframes wave {
    0% { background-position-x: 0px; }
    100% { background-position-x: -24px; }
  }
}

body {
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}